/* HERO */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://static.vecteezy.com/system/resources/previews/039/629/893/non_2x/ai-generated-fresh-ripe-fruit-slice-on-wooden-table-healthy-snack-generated-by-ai-free-photo.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-sub {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 30px;
}

/* SECTION TITLE */
.section-title {
  font-weight: bold;
  color: #198754; /* Same as success */
}

/* PRODUCT CARD HOVER */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
